# Git
.git
.gitignore

# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
KMS/logs/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.idea/
.vscode/

# Docker files
Dockerfile
docker-compose.yml
.dockerignore
