html, body {
  height: 100vh !important;
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

#__next {
  height: 100vh !important;
  overflow: hidden !important;
}
